<tables>
    <!-- Locations of all fasta files under genome directory -->
    <table name="shapeit_ref" comment_char="#">
        <columns>key, description, path, reference_prefix, map_prefix</columns>
        <file path="tool-data/shapeit_ref.loc" />
    </table>
</tables>