<tables>
    <table name="shapeit2_ref" comment_char="#">
        <columns>value, name, path, reference_prefix, map_prefix, sample_prefix</columns>
        <file path="tool-data/shapeit2_ref.loc" />
    </table>
</tables>
